@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;500;600;700&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Play:wght@400;700&display=swap');


@font-face {
    font-family: 'hybe';
    src: url('../font/HYBERegular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'hybe';
    src: url('../font/HYBEBold.woff2') format('woff2');
    font-weight: 700;
}